.footer {
  background-color: rgb(175, 127, 175);
    height: 140px;
  }
  
  .footer h3 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #github {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-left: 125px;
  }

  #linkedin {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-left: 500px;
  }

  #resume {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-left: 900px;
  }
  /* #list {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    margin-right: 125px;
    display: inline-block;
    display: flex;
    flex-direction: row;
    font-size: 20px;
} */

  