#nav {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(175, 127, 175);
    color: #ffffff;
    height: 80px;
    position: top;
}


#nav div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#nav div ul {
    list-style-type: none;
}

#nav div ul li {
    display: inline-block;
    margin-right: 125px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
