#projectsHeader {
    text-align: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(61, 16, 61);
 }

 .column {
  width: 50%;
  float: left;
 }

 .row {
  content: "";
  display: table;
  clear: both;
 }

 #filmimage {
  /* background: rgb(234, 203, 231); */
 }

#workoutimage{
  /* align-content: right; */
}

 #filmBody {
    background: rgb(234, 203, 231);
    /* height: 100px; */
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    overflow: auto;
    /* margin-left: 10%; */
  }

  #workoutbox {
   background: rgb(234, 203, 231);
   /* height: 100px; */
   font-size: 150%;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding: 50px;
 }

 #jobBox {
   background: rgb(234, 203, 231);
   height: 100px;
   font-size: 150%;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding: 50px;
 }